@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    /* background-color: #ffd2d9; */
    /* background-color: #ff2644; */
    background-color: #facee5;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* place-items: center; */
}

.carousel-item img{
    max-height:90vh;
    max-width:90vh;
    width: auto;
    height: auto;
}
